body {
  background-image: linear-gradient(45deg, #13547a, #80d0c7);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.Direction {
  display: flex;
  flex-direction: row;
}
.Container {
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 20px;
  overflow: hidden;
  width: 400px;
  height: 150px;
  flex-direction: row;
}
.Left {
  background-color: #fff;
  border: 0;
  color: #c3cfe2;
  font-size: 26px;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
  width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Right {
  background-color: #c3cfe2;
  border: 0;
  color: #fff;
  font-size: 26px;
  padding: 25px;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
input:focus {
  outline: none !important;
}
@media only screen and (max-width: 1000px) {
  .Direction {
    flex-direction: column;
  }
}